<app-header></app-header>
    <div class="hero-v1" *ngFor="let obj of home.allAbout">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 mr-auto text-center text-lg-left">
              <span class="d-block subheading">{{obj.littletitle1}}</span>
              <h1 class="heading mb-3">{{obj.title1}}</h1>
              <p class="mb-5">{{obj.descriptiontitle1}}</p>
              <p class="mb-4"><a href="#" class="btn btn-primary">{{obj.textbuttontitle1}}</a></p>
  
  
  
            </div>
            <div class="col-lg-6">
              <figure class="illustration">
                <img src="./assets/images/illustration.png" alt="Image" class="img-fluid">
              </figure>
            </div>
            
          </div>
        </div>
      </div>
  
  
      <!-- MAIN -->
  
  
  
  
      <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
              <figure class="img-play-vid">
                <img src="./assets/images/hero_1.jpg" alt="Image" class="img-fluid">
              
              </figure>
            </div>
            <div class="col-lg-5 ml-auto" *ngFor="let obj of home.allAbout">
              <h2 class="mb-4 section-heading">{{obj.whattitle}}</h2>
              <p>{{obj.whatdescription}}</p>
              <ul class="list-check list-unstyled mb-5">
                <li>{{obj.whatdesc1}}</li>
                <li>{{obj.whatdesc2}}</li>
                <li>{{obj.whatdesc3}}</li>
              </ul>
              <p><a href="#" class="btn btn-primary">{{obj.whattextbutton}}</a></p>
            </div>
          </div>
        </div>
      </div>
  <!--
      <div class="site-section">
        <div class="container">
          <div class="row mb-3">
            <div class="col-lg-7 text-center mx-auto">
              <h2 class="section-heading">Team</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, voluptate!</p>
            </div>
          </div>
  
          <div class="row">
            <div class="col-lg-4">
              <div class="team">
                <img src="./assets/images/person_1.jpg" alt="Image" class="img-fluid">
                <h3>Jane Smith</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut commodi accusantium eveniet nemo maiores deleniti rerum animi, deserunt veniam error.</p>
                <p>
                  <span class="d-block mb-2"><strong>Connect on social</strong></span>
                  <a href="#" class="p-2 icon-facebook"></a>
                  <a href="#" class="p-2 icon-twitter"></a>
                  <a href="#" class="p-2 icon-linkedin"></a>
                  <a href="#" class="p-2 icon-instagram"></a>
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="team">
                <img src="./assets/images/person_2.jpg" alt="Image" class="img-fluid">
                <h3>Cynthia Anderson</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut commodi accusantium eveniet nemo maiores deleniti rerum animi, deserunt veniam error.</p>
                <p>
                  <span class="d-block mb-2"><strong>Connect on social</strong></span>
                  <a href="#" class="p-2 icon-facebook"></a>
                  <a href="#" class="p-2 icon-twitter"></a>
                  <a href="#" class="p-2 icon-linkedin"></a>
                  <a href="#" class="p-2 icon-instagram"></a>
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="team">
                <img src="./assets/images/person_3.jpg" alt="Image" class="img-fluid">
                <h3>Gregg Wallace</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut commodi accusantium eveniet nemo maiores deleniti rerum animi, deserunt veniam error.</p>
                <p>
                  <span class="d-block mb-2"><strong>Connect on social</strong></span>
                  <a href="#" class="p-2 icon-facebook"></a>
                  <a href="#" class="p-2 icon-twitter"></a>
                  <a href="#" class="p-2 icon-linkedin"></a>
                  <a href="#" class="p-2 icon-instagram"></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>-->
  
  
      <div class="site-section stats">
        <div class="container">
          <div class="row mb-3">
            <div class="col-lg-7 text-center mx-auto">
              <h2 class="section-heading">Coronavirus Statistics</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, voluptate!</p>
            </div>
          </div>
          <div class="row"> 
            <div class="col-lg-4">
              <div class="data">
                <span class="icon text-primary">
                  <span class="flaticon-virus"></span>
                </span>
                <strong class="d-block number">14,112,077</strong>
                <span class="label">Active Cases</span>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="data">
                <span class="icon text-primary">
                  <span class="flaticon-virus"></span>
                </span>
                <strong class="d-block number">595,685</strong>
                <span class="label">Deaths</span>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="data">
                <span class="icon text-primary">
                  <span class="flaticon-virus"></span>
                </span>
                <strong class="d-block number">8,397,665</strong>
                <span class="label">Recovered Cases</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="site-section" *ngFor="let obj of home.allAbout">
        <div class="container">
          <div class="row mb-5">
            <div class="col-lg-7 mx-auto text-center">
              <span class="subheading">{{obj.littleprotecttitle}}</span>
              <h2 class="mb-4 section-heading">{{obj.protecttitle}}</h2>
              <p>{{obj.descprotect}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 ">
              <div class="row mt-5 pt-5">
                <div class="col-lg-6 do ">
                  <h3>{{obj.protectpoint1}}</h3>
                  <ul class="list-unstyled check">
                    <li>{{obj.point1desc1}}</li>
                    <li>{{obj.point1desc2}}</li>
                    <li>{{obj.point1desc3}}</li>
                  </ul>
                </div>
                <div class="col-lg-6 dont ">
                  <h3>{{obj.protectpoint2}}</h3>
                  <ul class="list-unstyled cross">
                    <li>{{obj.point2desc1}}</li>
                    <li>{{obj.point2desc2}}</li>
                    <li>{{obj.point2desc3}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <img src="./assets/images/protect.png" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
  
      <app-footer></app-footer>

