

    
   
<body  >
    <app-navbar></app-navbar>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
<div id="wrapper">
    <h1 style="font-family: serif; margin-left:10% ;">Your Reservation</h1>


    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <br><br>
   <div class="card border-0 shadow mb-4">
    <div class="card-body">
     
        <div class="table-responsive">
  <table class="table table-centered table-nowrap mb-0 rounded "   >
    <thead class="table-danger">
   
    <!-- <table id="keywords" cellspacing="0" cellpadding="0"> -->
    <!-- <thead> -->
        <tr>
        <th><span>Date Dose one</span></th>
        <th><span>Date Dose tow</span></th>
        <th><span>STATUS</span></th>
        
        </tr>
    </thead>
    <tbody *ngFor="let obj of reservationn.reservation" >
        <tr>
        <td  class="lalign">{{obj.actualdatedose1}}</td>
        <td>{{obj.actualdatedose2}}</td>
        <td>{{obj.status}}</td>
        
        </tr>
        
    </tbody>

    </table>

 <br><br><br> <br><br><br>

    <button   style="background-color: rgb(252, 222, 248);  " class="btn btn-gray-800" > <a href="/userdashbord/Certificate" class="button">Certificate</a>    </button>
    <br><br><br>
</div>
 