<app-navbar></app-navbar>
<!-- MAIN -->
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="hero-v1">

        <div class="container" *ngFor="let obj of home.allHome">
            <div class="row align-items-center">
            <div class="col-lg-6 mr-auto text-center text-lg-left">
                <span class="d-block subheading">{{obj.littletitle1}}</span>
                <h1 class="heading mb-3">{{obj.title1}}</h1>
                <p class="mb-5">{{obj.descriptiontitle1}}</p>
                <p class="mb-4"><a routerLink="/about" class="btn btn-primary" >{{obj.textbutton}}</a></p>
     
     
     
            </div>
            <div class="col-lg-6">
                <figure class="illustration">
                <img src="./assets/images/illustration.png" alt="Image" class="img-fluid">
                </figure>
            </div>
            <div class="col-lg-6"></div>
            </div>
        </div>
        </div>
        <div class="site-section stats" *ngFor="let obj of home.allHome">
            <div class="container">
                <div class="row mb-3">
                <div class="col-lg-7 text-center mx-auto">
                    <h2 class="section-heading">{{obj.statisticstitle}}</h2>
                    <p>{{obj.descriptionstatistics}}</p>
                </div>
                </div>
                <div class="row"> 
                <div class="col-lg-4">
                    <div class="data">
                    <span class="icon text-primary">
                        <span class="flaticon-virus"></span>
                    </span>
                    <strong class="d-block number">14,112,077</strong>
                    <span class="label">{{obj.desc1statistics}}</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="data">
                    <span class="icon text-primary">
                        <span class="flaticon-virus"></span>
                    </span>
                    <strong class="d-block number">595,685</strong>
                    <span class="label">{{obj.desc2statistics}}</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="data">
                    <span class="icon text-primary">
                        <span class="flaticon-virus"></span>
                    </span>
                    <strong class="d-block number">8,397,665</strong>
                    <span class="label">{{obj.desc3statistics}}</span>
                    </div>
                </div>
                </div>
            </div>
            </div>    
        
        
       
      
            <div class="site-section" *ngFor="let obj of home.allAbout">
                <div class="container">
                  <div class="row mb-5">
                    <div class="col-lg-7 mx-auto text-center">
                      <span class="subheading">{{obj.littleprotecttitle}}</span>
                      <h2 class="mb-4 section-heading">{{obj.protecttitle}}</h2>
                      <p>{{obj.descprotect}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 ">
                      <div class="row mt-5 pt-5">
                        <div class="col-lg-6 do ">
                          <h3>{{obj.protectpoint1}}</h3>
                          <ul class="list-unstyled check">
                            <li>{{obj.point1desc1}}</li>
                            <li>{{obj.point1desc2}}</li>
                            <li>{{obj.point1desc3}}</li>
                          </ul>
                        </div>
                        <div class="col-lg-6 dont ">
                          <h3>{{obj.protectpoint2}}</h3>
                          <ul class="list-unstyled cross">
                            <li>{{obj.point2desc1}}</li>
                            <li>{{obj.point2desc2}}</li>
                            <li>{{obj.point2desc3}}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <img src="./assets/images/protect.png" alt="Image" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
          
    
        
        <app-footer-user></app-footer-user>
    </body>