<app-navbar></app-navbar>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="hero-v1">
        <div class="container">
            <div class="row align-items-center">
            <div class="col-lg-6 mr-auto text-center text-lg-left">
                <span class="d-block subheading">Contact Us</span>
                <h1 class="heading mb-3">We Will Keep Touch With You.</h1>
                <p class="mb-5">Give Us Your Suggtion Or Prolbelms and We Will Response To You</p>
                <p class="mb-4"><a routerLink="/userdashbord" class="btn btn-primary">How to prevent</a></p>
    
    
    
            </div>
            <div class="col-lg-6">
                <figure class="illustration">
                <img src="./assets/user/images/illustration.png" alt="Image" class="img-fluid">
                </figure>
            </div>
            <div class="col-lg-6"></div>
            </div>
        </div>
        </div>
        <app-footer-user></app-footer-user>